
.nice{ 
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK4AE7jOAoFrApSgplz8Z17i0b2Vnv-JAmCw&s);width: 50;
    color: hotpink;
    font-size: 10px;

}

.good{ 
    color:tomato;
    font-size: 10px;
    font-family: "Lucida Console", "Courier New", monospace;}